<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxqT0FlduQu32ZZ_23bMjO-Wh4l7TiYus</string>
	<key>GCM_SENDER_ID</key>
	<string>1074708164096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newdawn.soiapp</string>
	<key>PROJECT_ID</key>
	<string>soi-sns</string>
	<key>STORAGE_BUCKET</key>
	<string>soi-sns.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074708164096:ios:f6a0558949723c8c4d32e5</string>
</dict>
</plist>